* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}



body {
    font-family: "Jost", sans-serif;
    overflow-x: hidden;
}


summary {
    display: block;
}

summary::-webkit-details-marker {
    display: none;
}

.center {
    padding-left: calc(50% - 610px);
    padding-right: calc(50% - 610px);
}

.header {
    background-color: #141024;

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
    }
}

.logo{
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    color: #FFFFFF;
}

.menu {
    width: 324px;
    display: flex;
    gap: 40px;
    &__link {
        font-size: 20px;
        font-weight: 400;
        line-height: 32px;
        text-align: center;
        color: #FFFFFF;
    }
}

.phone-number {
    font-size: 30px;
    font-weight: 600;
    line-height: 48px;
    text-align: right;
    color: #FFFFFF;
}

.top {
    margin-top: 84px;
    display: flex;
    justify-content: center;

    &__left {
        padding-top: 174px;
        padding-left: 120px;
        width: 516px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        &__title {
            width: 516px;
            font-size: 70px;
            font-weight: 600;
            line-height: 112px;
            text-align: left;
            color: #FFFFFF;
        }

        &__text {
            font-size: 20px;
            font-weight: 400;
            line-height: 32px;
            text-align: left;
            color: #FFFFFF;
        }

        &__button {
            width: 260px;
            height: 79px;
            border-radius: 5px;
            background: #D52027;
            border: none;
            font-size: 18px;
            font-weight: 400;
            line-height: 18px;
            text-align: center;
            color: #FFFFFF;
        }

        &__button:hover {
            background: #b11318;
        }
    }

    &__right {
        max-width: 783px;
        max-height: 918px;
    }

    &__img{
        max-width: 783px;
        max-height: 918px;
    }
}



.info {
    padding-top: 120px;
    display: flex;
    flex-direction: column;

    &__about {
      padding-left: 180px;
      margin-bottom: 120px;
      min-width: 1046px;
      display: flex;
      flex-direction: column;
      gap: 60px;

      &__text {
        width: 891px;
        font-size: 30px;
        font-weight: 400;
        line-height: 48px;
        text-align: left;
        color: #141024;

        &_span {
          font-weight: 600;
        }
      }

      &__box {
          display: flex;
          gap: 40px;
      }

      &__numbers {
        max-width: 236px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        &_num {
          font-size: 70px;
          font-weight: 600;
          line-height: 112px;
          text-align: left;
          color: #D52027;
        }

        &_text {
          font-size: 18px;
          font-weight: 400;
          line-height: 28.8px;
          text-align: left;
          color: #141024B2;
        }
      }

    }

  }

  .info__after {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 180px;
    width: 1046px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    
    &__text {
      font-size: 50px;
      font-weight: 600;
      line-height: 80px;
      text-align: left;
      color: #141024;
      }

    &__box {
      display: flex;
      gap: 40px;
      }

    &__items {
      max-width: 360px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      &_title {
        font-size: 24px;
        font-weight: 600;
        line-height: 38.4px;
        text-align: left;
        color: #141024;
      }

      &_text {
        font-size: 18px;
        font-weight: 400;
        line-height: 28.8px;
        text-align: left;
        color: #141024;
      }

    }

  }

.info__icon {
  position: absolute;
  right: 220px;
}

.info__hint {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 251px;
  height: 56px;
  border-radius: 5px;
  box-shadow: 0px 2px 8px 0px #1410241A;
  position: absolute;
  right: 10px;
  top: 170px;

  &_text {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    color:#141024;
  }
}

.info__icon:hover ~.info__hint {
  opacity: 1;
}


.teachers {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 180px;

    &__heading {
        font-size: 50px;
        font-weight: 600;
        line-height: 80px;
        text-align: left;
        color: #141024;
    }

    &__box {
        padding-top: 60px;
        display: grid;
        grid-template-columns: repeat(6, 360px);
        gap: 40px;
    }

    &__item {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &__name {
      font-size: 24px;
      font-weight: 600;
      line-height: 38.4px;
      text-align: left;
      color: #141024;
    }

    &__prof {
      font-size: 18px;
      font-weight: 400;
      line-height: 28.8px;
      text-align: left;
      color: #141024B2;
    }

    &__next {
      font-size: 18px;
      font-weight: 400;
      line-height: 28.8px;
      text-align: left;
      color: #D52027;
    }
  }

  .button__box {
    display: flex;
    margin-top: 60px;
    gap: 10px;
    justify-content: flex-end;
  }



  .price {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 180px;
    display: flex;
    flex-direction: column;
    gap: 60px;

    &__heading {
        font-size: 50px;
        font-weight: 600;
        line-height: 80px;
        text-align: left;
        color: #141024;
    }

    &__box {
        display: grid;
        grid-template-columns: repeat(3, 360px);
        gap: 40px;
    }

    &__item {
        padding-top: 40px;
        padding-bottom: 40px;
        border: 1px solid #14102433;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &_title {
            font-size: 30px;
            font-weight: 600;
            line-height: 48px;
            text-align: center;
            color: #141024;
            margin-bottom: 68px;
        }

        &_sum {
            font-size: 50px;
            font-weight: 600;
            line-height: 80px;
            text-align: center;
            color: #141024;
            margin-bottom: 25px;
        }

        &_text {
            width: 250px;
            height: 60px;
            font-weight: 400;
            line-height: 28.8px;
            text-align: center;
            color: #141024;
            margin-bottom: 61px;
        }

        &_button {
            width: 280px;
            height: 79px;
            border:none;
            border-radius: 5px;
            background-color: #D52027;
            font-size: 18px;
            font-weight: 400;
            line-height: 28.8px;
            text-align: center;
            color: #FFFFFF;
        }
    }
}

.price__item:hover {
    background-color: #141024;
}

.price__item:hover .price__item_title{
    color: #FFFFFF;
}

.price__item:hover .price__item_text{
    color: #FFFFFF;
}

.price__item:hover .price__item_sum{
    color: #FFFFFF;
}


.subscribe {
    position: relative;
    padding-top: 87px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    gap: 144px;
    background-color: #D52027;

    &__box {
        padding-top: 19px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        &_heading {
            width: 400px;
            font-size: 36px;
            font-weight: 600;
            line-height: 46.8px;
            text-align: left;
            color: #FFFFFF;
        }

        &_text {
            font-size: 20px;
            font-weight: 400;
            line-height: 26px;
            text-align: left;
            color: #FFFFFF;
        }
    }

    &__mask {
        position: absolute;
        top: 11px;
        left: 1px;

    }

  }

.forma {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__input{
        padding-left: 20px;
        width: 480px;
        height: 64px;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        font-weight: 400;
        line-height: 26.01px;
        text-align: left;
        color: #282944B2;
    }

    &__button {
        width: 500px;
        height: 64px;
        border: none;
        border-radius: 5px;
        background-color: #141024;
        font-size: 18px;
        font-weight: 400;
        line-height: 26.01px;
        text-align: center;
        color: #FFFFFF;
    }
}


.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #141024;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    color: #FFFFFF;

    &__span {
        font-family: Jost;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: center;
        color: #FFFFFF;
    }
}

.phone-number {
    font-size: 30px;
    font-weight: 600;
    line-height: 48px;
    text-align: right;
    color: #FFFFFF;
}

